/* Daniel Ballesteros-Chavez */
/* DBCh CSS for blog project */
/* color schemes: #333745; #E63462 ; #C7EFCF ; #EEF5DB ; #909396; #262626;*/
/* Modified version with responsive TOC

/* usage: #+HTML_HEAD: <link rel="stylesheet" type="text/css" href="./style01.css"/> */

body {
	font-size: 18px;
	color: #404040;
	/* background-color: #333745; */
	font-family: Helvetica;
	line-height: 1.3;
}

#content {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

p {
		text-align: justify;
}


/* this part is about the table of contents TOC */

#table-of-contents a:link,
#table-of-contents a:visited {
    color: #404040;
    background: transparent;
}

#table-of-contents a:hover {
  background-color: #ccc;
  color: #404040;
}


#table-of-contents {
    line-height: 1.2;
}

#table-of-contents h2 {
    background-color:  #ccc ;
    padding-left: 0.3em;
    color: #404040;
    border-bottom: 0;
}

#table-of-contents ul {
    list-style: none;
    padding-left: 0.3em;
    font-weight: normal;
}


#table-of-contents div>ul>li {
    margin-top: 1em;
    font-weight: bold;
}

#table-of-contents .tag {
    display: none;
}

#table-of-contents .todo,
#table-of-contents .done {
    font-size: 80%;
}

#table-of-contents ol>li {
    margin-top: 1em;
}

@media screen {

    #table-of-contents {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1em 0 1em 1em;
        width: 290px;
        height: 100vh;
        overlow-x: hidden;
        overlow-y: auto;
	overflow: auto;
    }

    #table-of-contents h2 {
        margin-top: 0;
        font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
    }

    #table-of-contents code {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 95em) {

    #table-of-contents {
        display: none;
    }

    h1.title {
        margin-left: 0%;
    }
    
    div#content {
        margin-left: 5%;
        max-width: 90%;
    }
}



#theorem 


/*  /\* Style the button that is used to open and close the collapsible content *\/ */
/* .outline-4 { */
/*   background-color: #eee; */
/*   color: #444; */
/*   cursor: pointer; */
/*   padding: 18px; */
/*   width: 100%; */
/*   border: none; */
/*   text-align: left; */
/*   outline: none; */
/*   font-size: 15px; */
/* } */

/* /\* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) *\/ */
/* .active, .outline-4:hover { */
/*   background-color: #ccc; */
/* } */

/* /\* Style the collapsible content. Note: hidden by default *\/ */
/* .outline-text-4 { */
/*  padding: 0 18px; */
/*   background-color: white; */
/*   max-height: 0; */
/*   overflow: hidden;x */
/*   transition: max-height 0.2s ease-out; */
/* }  */



/*defaults form org-mode export */


  .title  { text-align: center; }
  .todo   { font-family: monospace; color: red; }
  .done   { color: green; }
  .tag    { background-color: #eee; font-family: monospace;
            padding: 2px; font-size: 80%; font-weight: normal; }
  .timestamp { color: #bebebe; }
  .timestamp-kwd { color: #5f9ea0; }
  .right  { margin-left: auto; margin-right: 0px;  text-align: right; }
  .left   { margin-left: 0px;  margin-right: auto; text-align: left; }
  .center { margin-left: auto; margin-right: auto; text-align: center; }
  .underline { text-decoration: underline; }
  #postamble p, #preamble p { font-size: 90%; margin: .2em; text-align: center;}
  p.verse { margin-left: 3%; }
  pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
  }
  pre.src {
    position: relative;
    overflow: auto;
    padding-top: 1.2em;
  }
  pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
  }
  pre.src:hover:before { display: inline;}
  pre.src-sh:before    { content: 'sh'; }
  pre.src-bash:before  { content: 'sh'; }
  pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
  pre.src-R:before     { content: 'R'; }
  pre.src-perl:before  { content: 'Perl'; }
  pre.src-java:before  { content: 'Java'; }
  pre.src-sql:before   { content: 'SQL'; }

  table { border-collapse:collapse; }
  caption.t-above { caption-side: top; }
  caption.t-bottom { caption-side: bottom; }
  td, th { vertical-align:top;  }
  th.right  { text-align: center;  }
  th.left   { text-align: center;   }
  th.center { text-align: center; }
  td.right  { text-align: right;  }
  td.left   { text-align: left;   }
  td.center { text-align: center; }
  dt { font-weight: bold; }
  .footpara:nth-child(2) { display: inline; }
  .footpara { display: block; }
  .footdef  { margin-bottom: 1em; }
  .figure { padding: 1em; }
  .figure p { text-align: center; }
  .inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
  }
  #org-div-home-and-up
   { text-align: right; font-size: 70%; white-space: nowrap; }
  textarea { overflow-x: auto; }
  .linenr { font-size: smaller }
  .code-highlighted { background-color: #ffff00; }
  .org-info-js_info-navigation { border-style: none; }
  #org-info-js_console-label
    { font-size: 10px; font-weight: bold; white-space: nowrap; }
  .org-info-js_search-highlight
    { background-color: #ffff00; color: #000000; font-weight: bold; }

