body {
/*    background-image: url('./Images/bgpic.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    /* background-position: left top; */
    /* background-repeat: no-repeat; */
    background-color: #F5F3EE;
		margin: 20px auto; /* "auto" for centering */
		max-width: 640px;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #0F0F0F;
    padding: 10px 20px;
    /*    background-color:#092B39;*/
    /*text-align: center; */
    /*text-shadow: 3px 2px gray;*/
}

h2 {
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #0F0F0F;
		background-color:#BFC1AC;
		border-radius: 10px 10px;
		padding: 10px 20px;
/*    background-color:#092B39;*/
}

div.info {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color:#BFC1AC;
		border-radius: 10px 10px;
    border-style: none none none none;
    /* border-width: 3px; */
    /* box-shadow: 5px 10px #888888 */
    max-width: 50em;
    
}

div.info.logo {position:relative;}

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');



/*div.menu {
border-style: double none double none;
border-width: 3px;
text-align: justify;
}*/


/* div.section { */
/* border-style: double none double none; */
/* border-width: 3px; */
/* } */

 /* This is taken from default? css? */


#content {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}


div.outline-2 {
    background-color:#f5f3ee;
    /* border:3px solid #f2f6f9; */
    color: #2e291b
 }

div.outline-2 h2 {
    color: #173f5f;
    font-size: 20px; /* arial, sans-serif; */
    /* font-family: 'Fredoka One', cursive; */
 }


div.outline-text-2 {
   }
 
div.outline-text-2 p {
    	text-align: justify;
}


 /* this is from https://www.w3schools.com/howto/howto_css_navbar_icon.asp */
 /* Style the navigation bar */
#preamble  {
    border-radius: 10px 10px;
  background-color: #173f5f;
  /* overflow: auto; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

/* Navbar links */
#preamble a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #D9D9D9;
  text-decoration: none;
  font-size: 17px;
}

/* max-width: 640px; */

/* Navbar links on mouse-over */
#preamble a:hover {
    /* background-color: #000; */
    color: white;
}

/* Current/active navbar link */
#preamble a.active {
        background-color: #051e3e;
    border-radius: 10px 10px;
    color: white;
}

/* /\* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels *\/ */
/* @media screen and (max-width: 500px) { */
/* #preamble  a { */
/*     float: none; */
/*     display: block; */
/*   } */
/* } */


/* Main content */
.main {
    margin-top: 5px; /* Add a top margin to avoid content overlay */
} 

/* #preamble { */
/* 		/\* background-color:#222222; *\/ */
/* 		/\* border-radius: 5px 20px 5px 20px; *\/ */
/* 		/\* border-radius: 20px 20px; *\/ */
/* 		/\* border: 3px solid gray; *\/ */
/* 		font-weight: bold; */
/* 		padding: 0 10px; */
/* 		/\* position: fixed; *\/ */
/* 		right: 0; */
/* 		top: 0; */
/* 		max-width: 640px; */
/* 		text-align: center; */
/* 		/\* text-align: right; *\/ */
/* } */


/*defaults*/


  .title  { text-align: left; } /* I change this from centre to left */
  .todo   { font-family: monospace; color: red; }
  .done   { color: green; }
  .tag    { background-color: #eee; font-family: monospace;
            padding: 2px; font-size: 80%; font-weight: normal; }
  .timestamp { color: #bebebe; }
  .timestamp-kwd { color: #5f9ea0; }
  .right  { margin-left: auto; margin-right: 0px;  text-align: right; }
  .left   { margin-left: 0px;  margin-right: auto; text-align: left; }
  .center { margin-left: auto; margin-right: auto; text-align: center; }
  .underline { text-decoration: underline; }
  #postamble p, #preamble p { font-size: 90%; margin: .2em; }
  p.verse { margin-left: 3%; }
  pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
  }
  pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
  }
  pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
  }
  pre.src:hover:before { display: inline;}
  pre.src-sh:before    { content: 'sh'; }
  pre.src-bash:before  { content: 'sh'; }
  pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
  pre.src-R:before     { content: 'R'; }
  pre.src-perl:before  { content: 'Perl'; }
  pre.src-java:before  { content: 'Java'; }
  pre.src-sql:before   { content: 'SQL'; }

  table { border-collapse:collapse; }
  caption.t-above { caption-side: top; }
  caption.t-bottom { caption-side: bottom; }
  td, th { vertical-align:top;  }
  th.right  { text-align: center;  }
  th.left   { text-align: center;   }
  th.center { text-align: center; }
  td.right  { text-align: right;  }
  td.left   { text-align: left;   }
  td.center { text-align: center; }
  dt { font-weight: bold; }
  .footpara:nth-child(2) { display: inline; }
  .footpara { display: block; }
  .footdef  { margin-bottom: 1em; }
  .figure { padding: 1em; }
  .figure p { text-align: center; }
  .inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
  }
  #org-div-home-and-up
   { text-align: right; font-size: 70%; white-space: nowrap; }
  textarea { overflow-x: auto; }
  .linenr { font-size: smaller }
  .code-highlighted { background-color: #ffff00; }
  .org-info-js_info-navigation { border-style: none; }
  #org-info-js_console-label
    { font-size: 10px; font-weight: bold; white-space: nowrap; }
  .org-info-js_search-highlight
    { background-color: #ffff00; color: #000000; font-weight: bold; }
