body {
/*    background-image: url("bg2.jpg");*/
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #F5F3EE;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #0F0F0F;
    /*    background-color:#092B39;*/
    /*text-align: center; */
    /*text-shadow: 3px 2px gray;*/
}

h2 {
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #0F0F0F;
/*    background-color:#092B39;*/
}

div.info {
    display: block;
    background-color:#BFC1AC;
}

div.menu {
border-style: double none double none;
border-width: 3px;
text-align: justify;
}


div.section {
border-style: double none double none;
border-width: 3px;
}

